# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @corespecialty/cs-ea-GitHubEnterprise-cs-helpdesk-maintainer
.jira/*       @corespecialty/cs-ea-GitHubEnterprise-cs-idp-maintainer
.github/CODEOWNERS       @corespecialty/cs-ea-GitHubEnterprise-cs-idp-maintainer